@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nanum+Myeongjo&display=swap');

:root {
    --blue: #0014c7;
    --dark-blue: #051166;
    --red: #e50620;
}

.title {
    color: var(--blue);
    font-family: 'Nanum Myeongjo', serif;
    padding: 24px;
    font-size: 26pt;
}

.author {
    color: var(--blue);
    font-family: Montserrat, sans-serif;
    font-size: 13pt;
    margin-bottom: 5px;
    margin-top: -5px;
    padding-left: 24px;
}


.dash-container {
    padding-top: 5pt;
    display: grid;
    grid-column-gap: -20px;
    grid-row-gap: -20px;
    grid-template-columns: 30% 12% 12% 45%;

}


.subcontainer1 {
    grid-column: 1;
    padding-right: 1px;


}



.container-kind{
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-right: 1px;
    font: 11px Roboto, sans-serif;


}


.container-plevel {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    padding-right: 1px;
    font: 11px Roboto, sans-serif;
}


.container-plot-series {
    grid-column: 4;
    grid-row-start:1;
    grid-row-end: 3;
    padding-right: 1px;
    padding-left: 1px;


}


.container-harvested {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start:2;
    grid-row-end: 2;

}

.container-plot-bar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:3;
    grid-row-end: 4;

}


.rc-slider-mark {
    font-size: 10pt;
}

.rc-slider-track {
  background-color: var(--blue);
}
.rc-slider-dot {
    border-color: #808080;
}
.rc-slider-dot-active {
    border-color: var(--blue);
}
.rc-slider-handle {
    border: 2px solid var(--blue);
}
.rc-slider-handle-click-focused:focus,
.rc-slider-handle:active,
.rc-slider-handle:hover {
    border-color: var(--red );
}
© 2021 GitHub, Inc.